# Logs
gatsby/*.log
gatsby/npm-debug.log*
gatsby/yarn-debug.log*
gatsby/yarn-error.log*

# Dependency directories
gatsby/node_modules/

# package manager
gatsby/.yarn/*
gatsby/!.yarn/releases
gatsby/!.yarn/plugins
gatsby/!.yarn/sdks
gatsby/!.yarn/versions
gatsby/.pnp.js

# dotenv environment variables file
gatsby/.env
gatsby/.contentful.json
gatsby/.env*
gatsby/!.env.example

# build folder
gatsby/public

# gatsby cache folder
gatsby/.cache

# Yew
target
dist

# .cache things
.cache/maps/*
!.cache/maps/.keep
.cache/assets/*
!.cache/assets/.keep

# bin folder
bin/*
!bin/.keep
