/* Custom styles */
html {
  font: 150%/1.25 san-serif;
}

body {
  min-height: 100vh;
  background: #005AA7;
  background: linear-gradient(to bottom, #FFFDE4, #005AA7);
  width: 100%;
}

h1 {
  margin: .5rem 0 1rem 0;
}

ul {
  margin: .5rem 0;
}

p {
  margin: 0 0 .8rem 0;
}
