html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*p {
  margin: 0;
  word-wrap: break-word;
}*/

body {
  min-height: 100vh;
  background: #005AA7;
  background: linear-gradient(to bottom, #FFFDE4, #005AA7);
}

/*img {*/
  /*display: block;*/
  /*width: 100%;*/
/*}*/

a {
  color: currentColor;
  text-shadow: none;
  background-image: none;
}
